@font-face {
  font-family: 'lufga';
  src: url('/fonts/lufgam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.register-page{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.registerForm{
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2vw;
    box-shadow: 1rem 1rem 0 0 rgba(0,0,0,1);
    border-radius: 10px;
    background-color: #ffffff;
    border: 5px solid #2ac676;
    transition: all 0.3s ease;
}
.registerForm:hover{
    transform: scale(1.01);
}
.registerForm input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1vw;
    box-shadow: 0.25rem 0.25rem 0 0 rgba(0,0,0,1);
    outline: none;
    transition: all 0.3s ease;
    font-family: 'lufga', sans-serif;
}
.registerForm input:focus{
    outline: none;
    transform: translate(-2px, -2px);
    box-shadow: 0.5rem 0.5rem 0 0 #2ac676;
}
.registerForm h1{
    font-family: 'lufga', sans-serif;
    letter-spacing: 1px;
}
.registerForm button{
    height: 5vh;
    width: 10vw;
    border: 1px solid black;
    background-color: #2ac676;
    border-radius: 20px;
    font-family: 'lufga';
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0.25rem 0.25rem 0 0 rgba(0,0,0,1);;
}
.registerForm button:hover{
    transform: translate(-2px, -2px);
    box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);
}