@font-face {
  font-family: 'MyFont';
  src: url('/fonts/cloud.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lufga';
  src: url('/fonts/lufgam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.SiteContainer{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: #f8f9fa;
    
    
    
    height: 7vh;
    position: relative;
    z-index: 1000;
    justify-content: center;
    display: flex;
    align-items: center;
}
#header .header-logo img{
    height: 7vh;
    position: absolute;
    left: 10px;
    top: 0px;
    
}
#header-nav{
    
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header-nav a{
    text-decoration: none;
    color: rgb(95, 94, 94);
    font-family: 'lufga', sans-serif;
    font-size: 1.1vw;
    font-weight: 400;
    transition: all 0.5s ease;
}
#header-nav a:hover{
    color: rgb(0, 0, 0);
    
}
#header-login{
    position: absolute;
    right: 10px;
    
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
#header-login a{
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-family: 'lufga', sans-serif;
    font-size: 1.1vw;
    
    transition: all 0.5s ease;
}
#header-login a:hover{
    color: rgb(0, 0, 0);
    
}   
#login-btn{
    height: 60%;
    width: 6vw;
    border-radius: 20px;
    font-family: 'MyFont', sans-serif;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background-color: #2ac676;
    border: 1px solid black;
    letter-spacing: 1px;
    box-shadow: 0.25rem 0.25rem 0 0 rgba(0,0,0,1);
    transition: all 0.3s ease;
    cursor: pointer;
}
#login-btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);
}
.middleContainer{
    margin-top: 50px;
    height: 70%;
    
    display: flex;
    position: relative;
}
.middleText{
    
    height: fit-content;
    width: 30vw;
    display: flex;
    position: relative;
    
    
    flex-direction: column;
    font-family: 'lufga';
    font-size: 5.5vw;
    padding: 0;
    font-weight: bold;
}
.middleText p{
    margin: 0;
    line-height: 1.1;
}
.middleImg{
    position: absolute;
    width: 45vw;
    height: 85vh;
    right: 10%;
    top: 0%;
    
    display: flex;
    
    
    
}
.middleImg img{
    height: 65vh;
    object-fit: contain;
    width: 90%;
}
.middleRightCourses{
    position: absolute;
    right: 0px;
    bottom: 0;
    height: 18vh;
    width: 20vw;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.middleRightCoursesText{
    position: relative;
    font-family: 'lufga';
    font-size: 1.2vw;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    
    width: 100%;
    
    flex: 1.5 ;
    font-weight: normal;
}
.middleRightCoursesIcons{
    
    flex: 1 ;
    width: 100%;
    display: flex;
    gap: 15px;
    
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.Icon1Container, .Icon2Container, .Icon3Container, .Icon4Container{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.25rem 0.25rem 0 0 rgba(0,0,0,1);
    cursor: pointer;
    transition: all 0.3s ease;
}
.Icon1Container:hover, .Icon2Container:hover, .Icon3Container:hover, .Icon4Container:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);
}
.middleImgBox{
    position: absolute;
    bottom: 30%;
    right: 0px;
    border: 2px solid rgb(0, 0, 0);
    height: 17vh;
    width: 15vw;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0.15rem 0.15rem 0 0 rgba(0,0,0,1);
    background-color: white;
    transform: rotate(-1.5deg);
    transition: all 0.3s ease;
    cursor: pointer;   
}
.middleImgBox:hover {
  transform: translate(-2px, -2px) rotate(0deg);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);
}
.middleImgBoxHeader{
    width: 100%;
    height: 40%;
    
    font-size: 0.9vw;
    padding: 5px;
    flex-direction: row;
    display: flex;
    position: relative;
    
    align-items: center;
    font-family: 'lufga';
    font-weight: normal;
}
.middleImgBoxIconContainer{
    position: relative;
    height: 50px;
    display: flex;
    border-radius: 100px;
    border: 1px solid rgb(0, 0, 0);
    background-color: yellow;
    width: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0.25rem 0.25rem 0 0 rgba(0,0,0,1);
    
}

.middleImgBoxText{

display: flex;
position: relative;
justify-content: center;
text-align: center;
align-items: center;
align-self: center;
margin-left: 30px;
height: 100%;
}
.middleImgBoxLittleText{
    
    display: flex;
    position: relative;
    font-family: 'lufga';
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 100%;
    padding: 0;
    color: rgb(95, 94, 94);
}


.middleRight{
    position: absolute;
    right: 150px;
    top: 50px;
    height: 30vh;
    width: 15vw;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: flex-end;
    
}
.pielegniarstwo-btn{
    align-self: flex-start;
    border: 1px solid black;
    border-radius: 25px;
    width: 10vw;
    background-color: yellow;
    font-family: 'lufga';
    font-weight: 100;
    font-size: 1.2rem;
    height: 5vh;
    cursor: pointer;
    transition: all 0.3s ease;
}
.pielegniarstwo-btn:hover{
    transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);;
}
.farmacja-btn:hover{
    transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);;
}
.medycyna-btn:hover{
    transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);;
}
.stomatologia-btn:hover{
    transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);;
}
.medycyna-btn{
    border: 1px solid black;
    border-radius: 25px;
    width: 9vw;
    background-color: white;
    font-family: 'lufga';
    font-weight: 100;
    font-size: 1.2rem;
    height: 5vh;
   cursor: pointer;
   transition: all 0.3s ease;
}
.stomatologia-btn{
    align-self: flex-start;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 25px;
    width: 10vw;
    background-color: white;
    font-family: 'lufga';
    font-weight: 100;
    font-size: 1.2rem;
    height: 5vh;
    cursor: pointer;
    transition: all 0.3s ease;
}
.farmacja-btn{
    align-self: center;
    border: 1px solid black;
    border-radius: 25px;
    width: 8vw;
    background-color: white;
    font-family: 'lufga';
    font-weight: 100;
    font-size: 1.2rem;
    height: 5vh;
    cursor: pointer;
    transition: all 0.3s ease;
}
.spacer{
    height: 7vh;
    width: 20vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    align-self: center;
    flex-direction: row;
    gap: 5px;
}
.spacer1{
    height: 60%;
    width: 6vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}
.spacer2{
    height: 55%;
    width: 3vw;
    background-color: #2ac676;
    border-radius: 15px;
}
.spacer3{
    height: 50%;
    width: 1.2vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}
.spacer4{
    height: 55%;
    width: 3vw;
    background-color: #2ac676;
    border-radius: 15px;
}
.spacer5{
    height: 60%;
    width: 6vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}
.leftSideContainer{
    position: relative;
    display: flex;
    width: 35%;
    height: fit-content;
    
    margin-left: 150px;
    justify-content: flex-start;
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}
.leftSideLittleText{ 
    position: relative;
    display: flex;
   
    height: 30%;
    width: 35vw;
    font-family: 'lufga';
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 0.7vw;
    line-height: 1.5;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftSideLittleTextWrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    
}
.leftSideButtonContainer{
    
    height: 5vh;
}
.leftSideButton{
    height: 90%;
    width: 10vw;
    border: 1px solid black;
    background-color: #2ac676;
    border-radius: 20px;
    font-family: 'lufga';
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0.25rem 0.25rem 0 0 rgba(0,0,0,1);;
}
.leftSideButton:hover{
    transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0,0,0,1);;
}
.leftSideNumbers{
    position: relative;
    height: 100%;
    
    width: 50%;
    display: flex;
    gap: 40px;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;

}
.leftSideCustomers{
    font-size: 1vw;
}
.leftSideCourses{
    font-size: 1vw;
}